wup-modal {
  background-color: $primaryBlack;
  width: 650px;
  height: 450px;
  border-radius: 20px;
  border-bottom: $primaryWhite 3px solid;
}

wup-pwd {
  background-color: inherit;
  border-radius: 0;
  max-width: 350px;
}

.form {
  .button[type="submit"] {
    color: $primaryWhite;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
}

.label,
.title {
  color: $primaryWhite;
}

.label {
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
