@use "sass:color";

$basicColor: #575e72;
$primaryWhite: #dee5ed;
$secondaryWhite: #ffff;
$starColor: #fae272;
$sectionBackgroundColor: rgba(0, 0, 0, 0.5);
$mainBackgroundImage: url("images/background.jpg");
$primaryRed: #ff0000;
$pageMargin: 10px;
$primaryBlack: #121212;

$hooverBackgroundColor: color.adjust($primaryBlack, $lightness: 40%);
// header
// navigation button
$primaryPurple: #9a33cc;
$secondaryPurple: #562370;
$primaryPurpleLighten: color.adjust($primaryPurple, $lightness: 10%);
// footer
$footerBorderColor: #9a33cb;
