.container {
  display: flex;
  min-height: calc(100vh - 50px - 75px);
  width: 100%;
  background-image: $mainBackgroundImage;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: $pageMargin;
}
