.form {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.h1 {
  color: $primaryWhite;
}

.submitButton {
  color: $primaryWhite;
  background-color: $secondaryPurple;
  font-size: 25px;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.submitButton:hover {
  background-color: $primaryPurpleLighten;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div {
    > input {
      height: 40px;
    }
  }
}

.validationMessage {
  color: $primaryRed;
  font-size: 15px;
}

.closeButton:hover {
  border: 1px solid $primaryPurple;
}
