.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background: $primaryBlack;
}

.h1 {
  background: inherit;
  color: $primaryWhite;
  font-size: 20px;
  margin-left: $pageMargin;
  margin-top: $pageMargin;
}
