.header {
  display: flex;
  justify-content: center;
  background: darkred;

  > h1 {
    background: inherit;
    font-size: 3em;
    margin: 0;
  }

  > nav {
    background: inherit;
    position: relative;
  }
}
