.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-right: $pageMargin;
  background-color: inherit;
  height: 100%;
}

.navButton {
  color: $primaryWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: medium;
  padding: 20px;
  height: 100%;

  > img {
    height: 25px;
    width: 25px;
  }
}

.navButton:focus,
.navButton:hover,
.navButtonActive {
  border-bottom: 5px solid $primaryPurple;
  background-color: $hooverBackgroundColor;
}
