.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: $pageMargin;
  background-color: inherit;
}

.navButton {
  color: $primaryWhite;
  text-decoration: none;
  font-size: medium;
  height: 100%;
  padding: 20px 20px 6px 20px;
}

.navButton:focus,
.navButton:hover,
.navButtonActive {
  border-bottom: 5px solid $primaryPurple;
  background-color: $hooverBackgroundColor;
  transform: scale(1.5);
}
