@mixin onFocus {
  border-bottom: 4px solid purple;
  background-color: $hooverBackgroundColor;
  transform: scale(1.5);
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 90%;
  margin-right: $pageMargin;
  background-color: inherit;
}

.navButton {
  color: $layoutFontColor;
  text-decoration: none;
  font-size: medium;
  position: sticky;
  height: 100%;
  padding: 20px 20px 11px 20px;
}

.navButton:focus {
  @include onFocus;
}

.navButton:hover {
  @include onFocus;
}
