.generalButton {
  color: $layoutFontColor;
  background-color: $layoutBackgroundColor;
  border-radius: 0;
}

.menuItem {
  color: $layoutFontColor;
  background-color: $layoutBackgroundColor;
  border-radius: 0;
}
