.generalButton {
  color: $primaryWhite;
  background-color: $primaryBlack;
  text-decoration: none;
  font-size: medium;
  max-height: 100%;
  border: none;
}

.generalButton:hover,
.generalButton.focus {
  border-bottom: 5px solid $primaryPurple;
  background-color: $hooverBackgroundColor;
  cursor: pointer;
}

.menuItem {
  color: $primaryWhite;
  background-color: $primaryBlack;
  border-radius: 0;
}

.arrow {
  color: $primaryWhite;
  width: 20px;
  height: 20px;
}
