.form {
  font: inherit;
  margin: 0;

  button[type="submit"] {
    background-color: $primaryPurple;
    color: $primaryWhite;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
  }
}
